
/*Universal Selector*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body{
    background-color: #dddddd;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header {
width: 100%;
position: relative;
height: auto;
background-color:  rgba(54, 88, 241, 0.836);
}

.logo img{
    width: 100px;
    height:100px;
    border-radius:50%;
    margin:10px;
    border: 2px solid red;
    
}



nav {
    padding: 12px 30px;
    margin-bottom: 0px;
    height: auto;
    position: absolute;
    top:20px;
    left: 100px;
   
    
    
}
nav ul {
    display: flex;
    
}
nav li{
list-style-type: none;
margin-top: 1rem;


}

nav li a{

    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: inherit;
    margin-right: 20px;
    justify-content: center;
    

}

nav a:hover{
    color: rgb(243, 239, 12);
    text-decoration: underline;
    padding-left: 10px;
    margin-right: 30px;
}


h2{
    margin-top: 10px;
    color: #000;
    text-align: center;
    padding: 12px 25px;
}

.container{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8b7b7baf;
    margin: 10px;

}


.card {
    width: 325px;
    height:auto;
    border-radius: 4px;
    padding: 25px;
    background-color:#f3eeee;
    margin: 10px;
    



}

.card img{
    width:100%;
    border-radius:50%;
    height:270px;
    border: 3px solid crimson;

    
}

.card p{
    font-weight: bold;
    margin: 1.2rem;
    font-size: 20px;
    text-transform: capitalize;
    text-align:center;
}

p.car{
    color: blue;
    font-size: 1.6rem;
}

p.car:hover{
    color: rgb(227, 65, 64);
}
footer{
    text-align: center;
    padding: 12px 25px;
    color: #f00b0b;
    font-size: 1.5em;

}